.profeImg {
    width: 100px;
    height: 100px;
    position: relative;
    top: -70px;
}

.grid {
    position: relative;
    top: -30px;
}

span {
    color: var(--ion-color-primary) !important;
}

.col1{
    position: relative;
    right: -120px; 
}

ion-fab-button{
    position: relative;
    top: 80px; 
}