 <ion-item>

    <div class="noticia-more">
        <ion-button fill="clear" (click)="abrirOpciones()"> 
            <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
    </div>

    <ion-label> 
        <h1><span>{{ maestro.Nombre }}</span></h1>
        <h2> Areas: <span>{{ maestro.area }}</span> </h2>
        <h2> Carrera: <span>{{ maestro.carrera}}</span> </h2>
    </ion-label>
    <ion-avatar slot="start">
        <img [src]="maestro.img"> 
    </ion-avatar>

  </ion-item>
