<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-title text-center>Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <img src="/assets/img/banner.png" class="imgCircle" padding>
  
    <form>
  
      <ion-list>
    
        <ion-item>
          
          <ion-label position="stacked">Correo electronico:</ion-label>
          <ion-input placeholder="Escribe tu correo" type="email" name="correo" required #buscarUser [(ngModel)]="usuario.correo"></ion-input>
    
        </ion-item>
    
        <ion-item>
          
          <ion-label position="stacked">Contraseña:</ion-label>
          <ion-input placeholder="Escribe tu contraseña" type="password" name="pass" required #buscarPass [(ngModel)]="usuario.pass"></ion-input>
          
        </ion-item>
    
      </ion-list>
    
      <ion-row class="row">
    
        <ion-col>
          <ion-button expand="full" color="danger"  [routerLink]="['/tab5']" class="btn-border">Registrarse</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="primary" type="submit" (click)="registrar()">Ingresar</ion-button>
        </ion-col>
    
      </ion-row>
  
    </form>
  
  </ion-content>