<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title text-center>
      Profesores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides mode="ios">

    <ion-slide color="primary" class="slide1">
      <app-maestros [maestros]="maestros" [titulo]="titulo.uno"></app-maestros>
    </ion-slide>

    <ion-slide color="secondary" class="slide2" *ngIf="storageServ.maestros.length > 0"> 
      <app-maestros [maestros]="storageServ.maestros" 
                    [titulo]="titulo.dos" 
                    [addPoint]="true"></app-maestros>
    </ion-slide>

    <ion-slide class="slide3" *ngIf="storageServ.maestros.length === 0">
      <ion-label>No hay maestros agregados</ion-label>
    </ion-slide>
  </ion-slides>

</ion-content>
