
<ion-label padding>
    <ion-list>
        <h2 class="Lab">Nombre: <span class="datos"> {{perfil.Nombre}} </span></h2>
    </ion-list>
    <ion-list>
        <h2 class="Lab">Apellido: <span class="datos"> {{perfil.Apellidos}} </span></h2>
    </ion-list>
    <ion-list>
        <h2 class="Lab">e-mail: <span class="datos"> {{perfil.Correo}} </span></h2>
    </ion-list>
    <ion-list>
        <h2 class="Lab">Teléfono: <span class="datos"> {{perfil.telefono}} </span></h2>
    </ion-list>
</ion-label>
