<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-title text-center>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <img src="/assets/img/perfil_01.jpg">
  
    <form>
  
      <ion-list>
    
        <ion-item *ngFor="let perfil of perfil">
          <!-- aqui le mandamos la informacion al hijo del padre -->
            <app-persona [perfil]="perfil"></app-persona>
        </ion-item>
    
      </ion-list>
    
    </form>

    <ion-content padding>
      <ion-button  [routerLink]="['/tab2']" padding> Buscar Maestros</ion-button>
      <ion-button  [routerLink]="['/tab4']" padding color="danger"> Cerrar sesión</ion-button>
    </ion-content>
  
  </ion-content>